*{
    margin: 0;
    padding: 0;
}
.teen-center-section{
    display: flex;
    padding: 2rem 3rem 0rem 3rem;
    gap: 24px;
}
.text-col{
    display: flex;
    margin-top: 12px;
    gap: 40px;
    
}
.text-col-with-image{
    display: flex;
}
.author-divider.full{
    width: 80%;
}
.justify{
    text-align: center;
    
}
.col{
    flex-direction: column;
}
.indent{
    text-indent: 1.2em; 
}
.img{
    width: 600px;
    height: 450px;
    border: 2px solid black;
}
.section-title{
    font-family: 'Alfa Slab One', 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 400;
   
}
.section-author{
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}
.author-divider{
    height: 6px;
    width: 40%;
     background: linear-gradient(to right,  
              #ffed4d,  
              #ff7b0e,  
              #ffed4d); 
}
.section-text{
    font-size: 15.5px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2em;
    text-indent: 2em; 
    margin-bottom: 1em; 

}

/*Banner Styles*/
.banner{
     background: linear-gradient(to right,  
              #ffed4d,  
              #ff7b0e, 
              #ff7b0e, 
              #ff7b0e,
              #ffed4d);
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}
.inner-banner{
    align-self: center;
    background-color: #0f0f3d;
    display: flex;
    width: 100%;
    height: 250px;
}
.banner-left{
    width: 100%;
}
.banner-date-and-title{
    display: flex;
    justify-content: flex-start;
    gap: 200px;
    padding: 8px 24px 0px 24px;
}
.banner-date{
    color: white;
    font-family: 'Rozha One', 'Times New Roman', Times, serif;
    font-size: 32px;
    line-height: 1em;
}
.banner-title-one {
  font-family: 'Black Ops One', sans-serif;
  font-size: 72px;
  margin-top: 20px;
  color: transparent;
  -webkit-text-stroke: 1px #0f0f3d; 
  text-shadow:
    1px -1px 0 #ffffff,   
    3px -3px 0 #0f0f3d,   
    5px -5px 0 #0f0f3d,   
    7px -7px 0 #ffffff;   
}
.banner-title-two{
    font-family: 'Black Ops One', system-ui;
    font-size: 90px;
    text-indent: 1.5em;
    margin-top: -20px;
    color: transparent;
    -webkit-text-stroke: 1px #0f0f3d;
    text-shadow:
    1px -1px 0 #ffde59,   
    3px -3px 0 #0f0f3d,   
    5px -5px 0 #0f0f3d,   
    7px -7px 0 #ffde59   
    
    
}
.banner-member{
    font-family: 'Rozha One', 'Times New Roman', Times, serif;
    color: white;
    font-size: 18px;
    margin-left: 160px;
    margin-top: -10px;
}
.banner-publication{
    font-family: 'Alfa Slab One', 'Times New Roman', Times, serif;
    color: white;
    font-size: 15px;
    margin-left: 100px;
}
.banner-img{
    width: 350px;
}

/*CDSA Section Styles*/
.cdsa-section{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.cdsa-left{
    flex: 2;
    margin-left: 110px;
}
.cdsa-title{
    font-family: 'Alfa Slab One', 'Times New Roman', Times, serif;
    color: #f9943b;
    line-height: 1em;
    font-size: 4.7rem;
    max-width: 90%;
    font-weight: 500;
}
.cdsa-author{
    font-family: 'Times New Roman', Times, serif;
    font-size: .83rem;
}
.author-divider-cdsa{
    height: 6px;
    max-width: 380px;
     background: linear-gradient(to right,  
              #ffed4d,  
              #ff7b0e,  
              #ffed4d); 
}
.cdsa-img{
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    margin: 20px 0;
    border: 2px solid black;
}
.cdsa-right-section{
    position: relative;
    flex: 0 0 200px;
    max-width: 200px;
    padding: 1.5rem 1.2rem;
    min-width: 150px;
    margin-right: 25px;
    margin-top: 4px;
    background-color: #daac4a;
}
.cdsa-right-text{
    color: black;
    font-weight: bold;
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.news-img{
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: contain;
}
.news-img.one{
    margin: 2rem 2rem;

}
.news-img.two{
    margin: 2rem -1rem;
}
.news-img.three{
    margin: 10rem 1rem 2rem -1rem;
}
.black-divider{
    background-color: #000000;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    height: 4px;
}
/*NEWS Section Styles*/

.banner.news{
    height: 170px;
}
.inner-banner.news{
    height: 140px;
}
.banner-num{
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;
    font-size: 5em;
    text-indent: 1.2em;
    color: white;
}
.banner-title{
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;
    font-size: 5em;
    text-indent: 5em;
    color: white;
}
.news-section{
    display: flex;
    padding: 2rem 3rem 0rem 3rem;
    margin-bottom: 12px;
    gap: 24px;
}
.yellow{
    background-color: #ffde5952;
}

.black-border-section{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 40px;
}
.crosswise{
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.title-with-image{
    min-width: 50%;
}
.big-text{
    font-size: 20px;
}
.temp{
    height: 450px;
}